a {
  text-decoration: none;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 3px;
}

img {
  width: 100px;
  border-radius: 50%;
}

span {
  font-size: 1rem;
  font-weight: 500;
  color: goldenrod;
}
.card:hover {
  box-shadow: 0px 0px 10px 10px rgb(9, 144, 168);
  cursor: pointer;
}

.BTC {
  grid-area: 1/1/3/3;
}
.BTC img {
  width: 100%;
  object-fit: contain;
}
