.app {
  background: url(https://wallpaperaccess.com/full/1267580.jpg);
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin: 3rem;
}
.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header h1 {
  min-width: 20rem;
  margin: 1rem;
  color: white;
}
.search-bar {
  font-size: 1.5rem;
  font-weight: 500;
  width: 30rem;
  text-align: center;
  border-radius: 5px;
  border: 2px solid rgb(12, 133, 133);
}


@media (max-width: 700px) {
  .app {
    background: url(https://images6.alphacoders.com/912/thumb-1920-912465.jpg);
  }
}
